@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(47,205,177);
    background: -moz-linear-gradient(170deg, rgba(47,205,177,1) 0%, rgba(158,66,207,1) 100%);
    background: -webkit-linear-gradient(170deg, rgba(47,205,177,1) 0%, rgba(158,66,207,1) 100%);
    background: linear-gradient(170deg, rgba(47,205,177,1) 0%, rgba(158,66,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2fcdb1",endColorstr="#9e42cf",GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.container > .section-content {
    width: 90%;
    height: 90%;
    padding: 10px;
    border: none;
    background-color: aliceblue;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgb(116, 138, 139);
}
